Repository Hitomi-pupila/portfolio-renew: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:textlint, npm run fix:eslint, npm run fix:stylelint

.lintstagedrc.yml:

'src/pages/**/*.ejs':
    - npm run fix:textlint
'src/scripts/**/*.js':
    - npm run fix:eslint
'src/styles/**/*.scss':
    - npm run fix:stylelint

リンター設定
  package-lock.json
  package.json
  src/pages/index.ejs
Due: npm run fix:textlint

インクルード作成
  public/common/include/body-svg.html
  public/common/include/footer.html
  public/common/include/header-top.html
  src/pages/index.ejs
Due: npm run fix:textlint

不要ファイル削除
  src/styles/common/css/style.css
Due: none

stylelint markuplint設定
  .markuplintrc.yml
  .stylelintrc.yml
  package-lock.json
  package.json
Due: none

プレコミットフック設定
  .husky/pre-commit
  src/pages/index.ejs
Due: npm run fix:textlint

プレコミットフック設定
  package-lock.json
  package.json
  src/pages/index.ejs
Due: npm run fix:textlint

トップ作成
  eleventy.config.js
  public/common/include/footer.html
  public/common/include/header-top.html
  public/images/img-top.webp
  src/pages/index.ejs
  src/styles/common/css/_base/_variable.scss
  src/styles/common/css/_module/media/_normal.scss
Due: npm run fix:textlint, npm run fix:stylelint

jsファイル追加
  src/scripts/common/js/main.js
  src/scripts/common/js/modules/current.js
  src/scripts/common/js/modules/detailsLocalNav.js
  src/scripts/common/js/modules/facade.js
  src/scripts/common/js/modules/fadeIn.js
  src/scripts/common/js/modules/hamburgerMenu.js
  src/scripts/common/js/modules/tabPanel.js
  src/scripts/common/js/modules/timeline.js
  src/scripts/common/js/utilities/index.js
Due: npm run fix:eslint

年表ライン色変更
  src/styles/common/css/_module/widget/_timeline.scss
Due: npm run fix:stylelint

ヘッダー追加
  public/common/include/header.html
Due: none

ページ作成
  src/pages/about/index.ejs
  src/pages/index.ejs
  src/pages/works/index.ejs
Due: npm run fix:textlint

実績一覧作成
  src/pages/works/index.ejs
Due: npm run fix:textlint

レイアウトgap調節
  src/styles/common/css/_module/layout/_normal.scss
Due: npm run fix:stylelint

タイムライン更新
  src/pages/about/index.ejs
Due: npm run fix:textlint

スキルセット追加
  src/pages/index.ejs
Due: npm run fix:textlint

テキスト追加
  src/pages/index.ejs
  src/pages/works/index.ejs
Due: npm run fix:textlint

テーブル作成
  src/pages/index.ejs
Due: npm run fix:textlint

テーブルの幅指定
  src/pages/index.ejs
Due: npm run fix:textlint

記述リスト縦積み
  src/pages/about/index.ejs
Due: npm run fix:textlint

年表作成
  src/pages/about/index.ejs
Due: npm run fix:textlint

トップ修正
  src/pages/index.ejs
Due: npm run fix:textlint

テキスト修正
  src/pages/about/index.ejs
Due: npm run fix:textlint

実績修正
  src/pages/works/index.ejs
Due: npm run fix:textlint

テキスト追加
  src/pages/works/index.ejs
Due: npm run fix:textlint

テキスト修正
  src/pages/works/index.ejs
Due: npm run fix:textlint

年表テキスト修正
  src/pages/about/index.ejs
Due: npm run fix:textlint

開発環境
  src/pages/works/index.ejs
Due: npm run fix:textlint

実績の追加
  src/pages/works/index.ejs
Due: npm run fix:textlint

構築実績更新
  src/pages/works/index.ejs
Due: npm run fix:textlint

規模更新
  src/pages/works/index.ejs
Due: npm run fix:textlint

担当業務更新
  src/pages/works/index.ejs
Due: npm run fix:textlint

gap変更
  src/styles/common/css/_module/layout/_normal.scss
Due: npm run fix:stylelint

取り組み更新
  src/pages/works/index.ejs
Due: npm run fix:textlint

パンくずビュレット位置safari、Chrome修正
  src/styles/common/css/_layout/_breadcrumb.scss
Due: npm run fix:stylelint

取り組みを更新
  src/pages/works/index.ejs
Due: npm run fix:textlint

取り組みを修正
  src/pages/works/index.ejs
Due: npm run fix:textlint

表現を修正
  src/pages/works/index.ejs
Due: npm run fix:textlint

SSIからejsインクルードに変更
  public/common/include/header.html
  src/pages/_includes/_layouts/base.ejs
  src/pages/_includes/body-svg.ejs
  src/pages/_includes/footer.ejs
  src/pages/_includes/header.ejs
Due: npm run fix:textlint

vercel設定ファイル作成
  vercel.json
Due: none
