Repository Hitomi-pupila/portfolio-renew: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run fix:textlint, npm run fix:eslint, npm run fix:stylelint

vercel設定ファイル追記
  vercel.json
Due: none

vercel設定ファイル修正
  vercel.json
Due: none

画像変更
  public/images/img-top.jpeg
  src/pages/index.ejs
  vercel.json
Due: npm run fix:textlint

Revert "画像変更"
  public/images/img-top.webp
  src/pages/index.ejs
  vercel.json
Due: npm run fix:textlint

フォント格納先変更
  public/common/font/NotoSansJP-Bold.woff2
  public/common/font/NotoSansJP-Regular.woff2
Due: none

versel設定ファイル修正
  vercel.json
Due: none

Revert "versel設定ファイル修正"
  vercel.json
Due: none

コマンド追加
  vercel.json
Due: none

コマンド変更
  package.json
Due: none

元に戻す
  package.json
  vercel.json
Due: none

静的ファイルをsrc配下に格納に変更
  src/pages/font/NotoSansJP-Bold.woff2
  src/pages/font/NotoSansJP-Regular.woff2
  src/pages/images/img-top.webp
Due: none

フォントを戻す
  public/font/NotoSansJP-Bold.woff2
  public/font/NotoSansJP-Regular.woff2
Due: none

pngをscr配下に格納
  src/pages/images/topimg-pc.png
Due: none

pngで反映
  src/pages/index.ejs
Due: npm run fix:textlint

フォントファイルをcommon配下に格納
  public/common/font/NotoSansJP-Bold.woff2
  public/common/font/NotoSansJP-Regular.woff2
Due: none

画像の格納ディレクトリ変更
  public/common/images/img-top.webp
  public/common/images/topimg-pc.png
  src/pages/index.ejs
Due: npm run fix:textlint

favicon記述削除
  src/pages/_data/headLink.cjs
Due: none

test: パス修正
  src/pages/index.ejs
Due: npm run fix:textlint

ディレクトリ修正
  public/common/images/topimg-pc.png
  public/images/img-top.webp
  src/pages/index.ejs
Due: npm run fix:textlint

test: vercel設定ファイル投入
  vercel.json
Due: none

test: webpを明示する
  vercel.json
Due: none

test:　設定ファイル変更
  vercel.json
Due: none

test: 画像追加
  src/pages/img.jpg
  src/pages/index.ejs
Due: npm run fix:textlint

vercel設定ファイル削除
  vercel.json
Due: none

test: jpgでテスト
  public/images/img.jpg
  src/pages/index.ejs
Due: npm run fix:textlint

test: vercel用のトップ画像固有の設定ファイル追加
  src/pages/api/img-top.js
  vercel.json
Due: none

Revert "test: vercel用のトップ画像固有の設定ファイル追加"
  src/pages/api/img-top.js
  vercel.json
Due: none

test: インライン配信に変更
  public/images/img.jpg
  src/pages/index.ejs
Due: npm run fix:textlint

vercel用にインライン読み込みに変更
  src/pages/index.ejs
Due: npm run fix:textlint

テキスト修正
  src/pages/about/index.ejs
Due: npm run fix:textlint

fix: Github→GitHubに修正
  src/pages/index.ejs
Due: npm run fix:textlint

jest導入
  babel.config.js
  jest.config.js
  package-lock.json
  package.json
  src/scripts/common/js/modules/_test/facade.test.js
Due: npm run fix:eslint

Path conditions:
  npm run fix:textlint: any of: src/pages/**/*.ejs
  npm run fix:eslint: any of: src/scripts/**/*.js
  npm run fix:stylelint: any of: src/styles/**/*.scss
